/* Mobile & tablet */
@media (max-width:1023px) {
    .hide-on-moble-tablet {
        display: none;
    }
    :root {
        --header-height:68px;
        --navbar-height:0px;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: 0;
    }
    .header__cart-list {
        display: none;
    }
}
/* Tablet */
@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}
/* Mobile */
@media (max-width:739px) {
    .hide-on-moble {
        display: none;
    }
}